@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Курсовой проект по дисциплине Управление данными</h1>
    <p class="lead">Выполнил: Жуковский Павел, студент группы ИСТБ14-1</p>
</div>